
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{

  --highlight: #db1c1c;
  --branco: #ececde;
  --cinza: #ccccc4;
  --preto-claro: #272728;
  --preto-escuro: #0f0f0f;
}
body{
    background-color: #272728;
}
header {
    background-color: #1b1b1b;
    overflow: hidden;
   
}
p {
  color: var(--branco);
  font-size: 25px;
}


header a {
    float: right;
  color: #f2f2f2 !important;
  text-align: center;
  padding: 14px 16px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 25px;
}
header .logo {
    float: left;
    font-family: "Raleway", sans-serif;
    
    font-style: normal;
}

header a:hover {
    background-color: #2b2828;
    color: black;
}




.carousel {
   
    margin: auto; 
   
  }
  .carousel-inner img {
    width: 90% !important;
    height: 80% !important;
    margin: auto;
  }


  #github-profile {
    border-radius: 50%;
    display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top: -100px; 
   z-index: 1;
    width: 17%;
   border-radius: 50%; /* Optional: to make it circular */
   border: 8px solid #fff; /* Optional: add a border to the image */
  }


  #titulo{
   
    font-family: "Raleway", sans-serif;
    color: var(--branco);
    width: 100%;
    height: 50%;

    position: relative;
    top: -70px;
    text-align: center;
  }

  h1 {
    color: var(--branco);
    text-align: center;
  }

  .descricao {
    height: 30%; 
    width: 80%; 
    background-color: var(--preto-escuro);  
    margin-left: auto; 
    margin-right: auto;
  }

  #bio {
    text-align: center;
    color: var(--cinza);
  }

  .icons{
    text-align: center;
  }
  .icons img {
    width: 50px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    
  }